{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-const-assign": "error",
    "no-undef": "error",
    "no-unused-vars": "warn",
    "no-this-before-super": "warn",
    "no-unreachable": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/essential"
  ]
}